.back{
background-image: linear-gradient(to right,rgb(52, 28, 121),rgb(97, 10, 77));
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

.login{

  text-align:center;
  color:rgb(0, 0, 0) ;
  border-radius: 5px;
  border-style:ridge;
  margin-top: 40px;
  padding: 40px;
  width: 300px;
  height: 600px;
 background-color: white;
}
.q{
  border: none;
  text-align: center;
}
.q:focus
{
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.w{
  background-color: aqua;
  border-radius: 30px;
  width: 200px;
  height: 30px;
}
.t{
  list-style-type: none;
  text-align: center;
  padding: 5px;
}
.r
{
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.y{
  text-align: center;
}
.u{
  padding: 30px;
}
.user{
  padding-left: 10px;
}